#
#	servicemenus-terminal-panel-f4-dbus.desktop Version 0.9.0
#	Copyright (C) 2022 Christian Hartmann <hartmann.christian@gmail.com>
#
#	SPDX-FileCopyrightText: 2022 Christian Hartmann <hartmann.christian@gmail.com>
#
#	SPDX-License-Identifier: LicenseRef-KDE-Accepted-GPL
#
#	This program is free software; you can redistribute it and/or
#	modify it under the terms of the GNU General Public License as
#	published by the Free Software Foundation; either version 3 of
#	the license or (at your option) at any later version that is
#	accepted by the membership of KDE e.V. (or its successor
#	approved by the membership of KDE e.V.), which shall act as a
#	proxy as defined in Section 14 of version 3 of the license.
#
#	This program is distributed in the hope that it will be useful,
#	but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#	GNU General Public License for more details.
#

[Desktop Entry]
Type=Service
MimeType=inode/directory;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Icon=akonadiconsole
Actions=Terminal
TryExec=qdbus

[Desktop Action Terminal]
Name=Terminal	F4
Name[ar]=الطرفية
Name[bg]=Терминал	F4
Name[cs]=Terminál	F4
Name[de]=Terminal	F4
Name[el]=Τερματικό	F4
Name[eo]=Terminalo	F4
Name[eu]=Terminala	F4
Name[fa]=پایانه
Name[fi]=Pääte	F4
Name[ga]=Teirminéal	F4
Name[he]=מסוף
Name[hi]=टर्मिनल	F4
Name[hu]=Terminál	F4
Name[is]=Skjáhermir	F4
Name[it]=Terminale	F4
Name[ja]=ターミナル	F4
Name[kk]=Терминал	F4
Name[km]=ស្ថានីយ	F4
Name[ko]=터미널	F4
Name[lt]=Terminalas	F4
Name[lv]=Terminālis	F4
Name[ml]=ടെര്മിനല്	F4
Name[mr]=टर्मिनल	F4
Name[nds]=Konsool	F4
Name[nl]=Terminal	F4
Name[pa]=ਟਰਮੀਨਲ	F4
Name[ru]=Терминал	F4
Name[se]=Terminála	F4
Name[sk]=Terminál	F4
Name[sq]=Terminali	F4
Name[sr]=Терминал	F4
Name[ta]=முனையம்	F4
Name[tg]=Терминал	F4
Name[tr]=Uçbirim	F4
Name[ug]=تېرمىنال	F4
Name[uk]=Термінал	F4
Name[vi]=Dòng lệnh	F4
Name[wa]=Terminå	F4
Name[zh_CN]=终端	F4
Name[zh_TW]=終端機	F4
Icon=akonadiconsole
Exec=bash -c 'for sname in $( qdbus "org.kde.dolphin-*" ) ; do isactive=false ; isactive=$( qdbus "$sname" "/dolphin/Dolphin_1" "org.qtproject.Qt.QWidget.isActiveWindow" ) ; $isactive && qdbus "$sname" "/dolphin/Dolphin_1/actions/show_terminal_panel" "org.qtproject.Qt.QAction.trigger" ; done'
